/* :root {
  --bg-main: #0c0c12;
  --card-dark: #111118;
  --purple: #a855f7;
  --pink: #ec4899;
  --green: #22c55e;
  --cyan: #2dd4bf;
  --text-main: #ffffff;
  --text-muted: #b3b3b3;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0c0c12;
  color: white;
  padding: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.logo {
  font-weight: 800;
  font-size: 20px;
}

.nav-right button {
  margin-left: 10px;
}

.btn-primary {
  background: linear-gradient(90deg, #a855f7, #ec4899);
  border: none;
  padding: 8px 18px;
  border-radius: 999px;
  color: white;
  cursor: pointer;
}

.btn-secondary {
  background: #1a1a24;
  border: none;
  padding: 8px 18px;
  border-radius: 999px;
  color: white;
  cursor: pointer; 
}

.hero h1 {
  font-size: 56px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 60px;
}

.gradient-text {
  background: linear-gradient(90deg, #a855f7, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}

.card {
  background: #111118;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;

  backdrop-filter: blur(20px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 15px 20px 5px;
}

.card p {
  padding: 0 20px 20px;
  color: #b3b3b3;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  opacity: 0.4;
}

.card.green::after {
  background: linear-gradient(to top, #22c55e, transparent);
}

.card.purple::after {
  background: linear-gradient(to top, #a855f7, transparent);
}

.card.pink::after {
  background: linear-gradient(to top, #ec4899, transparent);
}

.card.cyan::after {
  background: linear-gradient(to top, #2dd4bf, transparent);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 50px rgba(168,85,247,0.3);
}